@using UI.Web.Areas.Web.Models
@model ListModel

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                @if (Model.ArticleModels.Count() == 0)
                {
                    <h1>作者太懒，还没发表文章！</h1>
                }
                @foreach (var item in Model.ArticleModels)
                {
                    <article class="post post-1">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="@Html.Raw("/Web/Article/ArticleDetail/" + item.Id)">@item.Title</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category">Category:<a href="@Html.Raw("/Web/Article/ArticleCategory/" + item.CategoryId)">@item.Category.Name</a></span>

                                <span class="post-date">Date:<a href="#"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">@item.CreateTime.ToString("yyyy-MM-dd")</time></a></span>

                                <span class="comments-link">Author:<a href="@Html.Raw("/Web/Article/ArticleAccount/" + item.AccountId)">@item.Account.Name</a></span>

                                @*<span class="comments-link"><a href="">@item.CommentNum</a></span>*@
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            <p>@item.Description</p>
                            <div class="read-more cl-effect-14">
                                <a href="@Html.Raw("/Web/Article/ArticleDetail/" + item.Id)" class="more-link">Continue Reading <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>
                }
                <hr />
                @if (Model.ArticleModels.Count() == 0)
                {
                    <div class="section-container" style="display:none;">
                        <!-- begin pagination -->
                        <div class="pagination-container text-center">
                            <div class="col-md-4" style="margin-top:28px;">
                                Current Page: @ViewBag.PageIndex
                                Total Page: @ViewBag.PageCount
                            </div>
                            <div class="col-md-8">
                                <ul class="pagination m-t-0 m-b-0">
                                    @Html.Raw(ViewBag.Page)
                                </ul>
                            </div>
                        </div>
                        <!-- end pagination -->
                    </div>
                }
                else
                {
                    <div class="section-container">
                        <!-- begin pagination -->
                        <div class="pagination-container text-center">
                            <div class="col-md-4" style="margin-top:28px;">
                                Current Page: @ViewBag.PageIndex
                                Total Page: @ViewBag.PageCount
                            </div>
                            <div class="col-md-8">
                                <ul class="pagination m-t-0 m-b-0">
                                    @Html.Raw(ViewBag.Page)
                                </ul>
                            </div>
                        </div>
                        <!-- end pagination -->
                    </div>
                }
            </main>
            <aside class="col-md-3">
                <div class="widget widget-category">
                    <h3 class="widget-title">Popular Articles</h3>
                    <ul>
                        @{
                            int x = 1;
                            foreach (var item in Model.ArticleModels2)
                            {
                                if (item.ReadNum > 0)
                                {
                                    if (x < 6)
                                    {
                                        <li>
                                            <a href="@Html.Raw("/Web/Article/ArticleDetail/" + item.Id)">@item.Title</a>
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="widget widget-category">
                    <h3 class="widget-title">Category</h3>
                    <ul>
                        @{
                            foreach (var item in Model.CategoryModels)
                            {
                                if (item.Count != 0)
                                {
                                    <li>
                                        <a href="@Html.Raw("/Web/Article/ArticleCategory/" + item.Id)">@item.Name</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="widget widget-category">
                    <h3 class="widget-title">Author</h3>
                    <ul>
                        @{
                            foreach (var item in Model.AccountModels)
                            {
                                if (item.RoleId == 2)
                                {
                                    <li>
                                        <a href="@Html.Raw("/Web/Article/ArticleAccount/" + item.Id)">@item.Name</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
