@{
    var result = ViewData["result"] as IEnumerable<BLL.Contract.Article>;
}
@using UI.Web.Areas.Admin.Utility

@model CurrentUser

<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">Article Datatable</span>
            <div class="description"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Table</div>
                        </div>
                    </div>
                    <div class="card-body">
                        @{
                            if (CurrentUser.RoleId == "1")
                            {
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>ArticleGuid</th>
                                            <th>Title</th>
                                            <th>CreateTime</th>
                                            <th>AccountId</th>
                                            <th>CategoryId</th>
                                            <th>Operate</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>ArticleGuid</th>
                                            <th>Title</th>
                                            <th>CreateTime</th>
                                            <th>AccountId</th>
                                            <th>CategoryId</th>
                                            <th>Operate</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in result)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.ArticleGuid</td>
                                                <td>@item.Title</td>
                                                <td>@item.CreateTime</td>
                                                <td>@item.AccountId</td>
                                                <td>@item.CategoryId</td>
                                                <td><a class="btn btn-default" href="@Html.Raw("/Admin/Article/ArticleUpdate/" + item.Id)">Edit</a><span> </span><a class="btn btn-default" href="@Html.Raw("/Admin/Article/ArticleDelete/" + item.Id)">Delete</a>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <table class="datatable table table-striped" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>ArticleGuid</th>
                                            <th>Title</th>
                                            <th>CreateTime</th>
                                            <th>CategoryId</th>
                                            <th>Operate</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>ArticleGuid</th>
                                            <th>Title</th>
                                            <th>CreateTime</th>
                                            <th>CategoryId</th>
                                            <th>Operate</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in result)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.ArticleGuid</td>
                                                <td>@item.Title</td>
                                                <td>@item.CreateTime</td>
                                                <td>@item.CategoryId</td>
                                                <td><a class="btn btn-default" href="@Html.Raw("/Admin/Article/ArticleUpdate/" + item.Id)">Edit</a><span> </span><a class="btn btn-default" href="@Html.Raw("/Admin/Article/ArticleDelete/" + item.Id)">Delete</a>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
